{{- /* Shared types for all services in a proto file */ -}}
// This file contains shared types used by all NATS microservices in this proto file
// It is generated once per proto file to avoid duplication when multiple services exist
